<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <title>tweetbot-Liya</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/styles.css')}}">
</head>

<body>
   <h1> Welcome to Liya's tweet bot  </h1>
   <h3>{{ sentence }}</h3>
   {% block content %} {% endblock%}
    <img src = '/static/faults.png' alt = 'faults_in_our_stars' >
    
<!-- JS here -->



<script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
<script type= 'text/javascript' src="{{url_for('static', filename='script.js') }}"></script> 
</body>
</html>