<!-- templates/index.html -->
{% extends 'base.html' %} 
{% block content %}

<div id='slides' class='slide-show ms-slide-show' data-delay='0' data-transition='2000'>
    <div class='slides-inner'>
      <!-- <h2 id='textSlide'></h2> -->
      <img src='static/images/letitsnow.jpg' width='1200' height='400' alt='bee'>
      <img src='static/images/faults.png' width='1200' height='400' alt='beetle'>
      <img src='static/images/quote1.jpg' width='1200' height='400' alt='dandelion'>
      <img src='static/images/okay.jpeg' width='1200' height='400' alt='ladybug'>
      <!-- <img src='static/images/PinkConeflower-1200-400.jpg' width='1200' height='400' alt='pinkConeFlower'> -->
    </div>
</div>



<form class='button-container' id="form" method="GET">
    <label> Enter how many words you want
        <input class='num' type= 'number' name='q'>
    </label>
    <button type='button' class='update' id='random_sentence'>Generate new word</button>
</form>

<footer>
    <a href='#' class='new'>Contact us</a>
    <a href='#' class='old'>Send us your feedback</a>
</footer>

{% endblock %}
