body{
    font-family: 'Gelasio', serif;
    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%,
                 rgba(224,6,124,1) 76%, rgba(0,212,255,1) 100%); */
    background-color: #e9e6d9;
    color: #333;
    margin:0;
}

body > h1, h3{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(24, 21, 21);
}

body > h1 {
    font-size: 3em;
    background: -webkit-linear-gradient(rgb(42, 40, 40), rgb(39, 40, 41));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3{
    font-size: 2em;
}

.button-container{
    display: flex;
    justify-content: center;
    font-size: 2em;
    text-decoration: none;
}

.update{
    /* font-size: 1em;
    border-radius: 1em;
    /* opacity: 0.7; */
    /* margin-top: 1em; */

    font-size: 0.5em;
    border-radius: 0.5em;
    /* opacity: 0.7; */
    margin-top: 3em;
    padding: 1em;
    background-color: #68c468;
    color: #fff;
}

#slides{
    height: 400px;
    width: 1200px;
    border: 2px solid;
    margin: auto;
}

#form > label{
    /* color: white; */
}

.num{
    height: 2rem;
    font-size: 1em;
    width: 3em;
    padding: 0.75em;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    justify-content: flex;
    padding: 1em;
    background-color: black;
}

/* nav{
    background-color: black;
} */

ul a{
    color: white;
    padding: 1em;
    text-decoration: none;
    font-size: 1.5em;
}

 .slides-inner{
    display: flex;
    position: absolute;
    transform: translate3d(0, 0, 0);
    transition: 1000ms;
    z-index: -1;
  }

  .slide-show{
    overflow: hidden;
    position: relative;
  } 

  #sentence{
      /* font-family: cursive; */
      font-size: 3em;
  }

  footer{
      background-color: black;
      height: 12em;
      margin-top: 17em;
  }

  footer > * {
      color: white;
      
  }

  footer > p {
      padding-left: 4em;
  }
